﻿
@{
    ViewBag.Title = "hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class=" text-xl-center">
    
    <h1 class="text-xl-center">hakkımızda</h1>
</p>


<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/img/Adsız.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Başlık burası</a>
                    </h4>
                    <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                    <p><span class="fas fa-user"></span>keremdokumacıı</p>
                    <p class="card-text"><h4>profesyonel yapay zeka uzmanı</h4></p>

                </div>
                <div class="card-footer">

                    <div class="col-md-12">
                        <p class="float-left">
                            <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                        </p>
                        <p class="float-right">
                            <button class="btn btn-outline-primary btn-sm">
                                <span class="fas fa-comments"></span>Yorumlar
                            </button>

                        </p>
                    </div>
                </div>
                <div class="align-content-lg-center  alert-success">hakkımızda
                
                
                
                </div>

                
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/img/binbaşı.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Başlık burası</a>
                    </h4>
                    <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                    <p><span class="fas fa-user"></span>keremdokumacıı</p>
                    <p class="card-text">sadece okumaya çalışıyor</p>

                </div>
                <div class="card-footer">

                    <div class="col-md-12">
                        <p class="float-left">
                            <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                        </p>
                        <p class="float-right">
                            <button class="btn btn-outline-primary btn-sm">
                                <span class="fas fa-comments"></span>Yorumlar
                            </button>

                        </p>
                    </div>
                </div>
                <div class="align-content-lg-center  alert-success">
                    <h1>
                        ERSİN YILMAZ
                        1998 AFYONKARAHİSAR DOĞUMLU ÖĞRENİMİNE SAKARYA ÜNİVERSİTESİNDE DEVAM ETMEKTEDİR
                    </h1>
                   



                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="/img/ssss.jpg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Başlık burası</a>
                    </h4>
                    <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                    <p><span class="fas fa-user"></span>keremdokumacıı</p>
                    <p class="card-text"><h4>öğretim uzmanı</h4></p>

                </div>
                <div class="card-footer">

                    <div class="col-md-12">
                        <p class="float-left">
                            <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                        </p>
                        <p class="float-right">
                            <button class="btn btn-outline-primary btn-sm">
                                <span class="fas fa-comments"></span>Yorumlar
                            </button>

                        </p>
                    </div>
                </div>
                <div class="align-content-lg-center  alert-success">
                    hakkımızda



                </div>
            </div>
        </div>


    </div>

    

            </div>


