﻿
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Kategoriler</h1>
            <div class="list-group">
                <a href="#" class="list-group-item"><span class="fas fa-arrow-right"></span>Tümü</a>
                <a href="#" class="list-group-item"><span class="fas fa-arrow-right"></span>Category 2</a>
                <a href="#" class="list-group-item"><span class="fas fa-arrow-right"></span>Category 3</a>
                <a href="#" class="list-group-item"><span class="fas fa-arrow-right"></span>Category 4</a>
                <a href="#" class="list-group-item"><span class="fas fa-arrow-right"></span>Category 5</a>
            </div>
        </div>
        <!-- /.col-lg-3  -->
        <div class="col-lg-9">
            <br />
           
            <div class="row">
                @*resim 1*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/614772_233b_9.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">Etnik Hacker kursumuz</p>

                        </div>
                        <div class="card-footer">

                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 2*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1235124_7c5f_4.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">Java kursumuz</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 3*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1258436_2dc3_4.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">interface tasarımı kursumuz</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 4*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1421116_6596.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">Java kursumuz</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 5*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1695265_237c.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">detaylar burada olacak!</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 6*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1963074_53ab_4.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">detaylar burada olacak!</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 7*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1750344_1df6_2.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">detaylar burada olacak!</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 8*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/321410_d9c5_4.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            
                            <p> <span class="fas fa-user"></span>keremdokumacıı</p>
                            <p class="card-text">detaylar burada olacak!</p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @*resim 9*@
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/img/1469086_8434.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Başlık burası</a>
                            </h4>
                            <h6><span class="fas fa-clock"></span>01.08.2017</h6>
                            <p><span class="fas fa-user"></span>keremdokumacıı</p>
                            <small><p class="card-text">siber güvenlik kursumuz</p></small>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12">
                                <p class="float-left">
                                    <small class="text-muted"><button class="btn btn-outline-primary btn-sm">&#9733; 15</button></small>
                                </p>
                                <p class="float-right">
                                    <button class="btn btn-outline-primary btn-sm">
                                        <span class="fas fa-comments"></span>Yorumlar
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>