﻿
@{
    ViewBag.Title = "Sonyazılanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Sonyazılanlar</h2>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>*@
<div class="container">

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            @*yazı1*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>

            @*yazı2*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
            @*yazı3*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Yazılım Nedir? Çeşitleri Nelerdir?</h6>
                    <p class="card-text">
                        İŞLETİM SİSTEMİ YAZILIMLARI

                        İşletim sistemi, bilgisayarın ilk açılma anından kapanana kadar kullanıldığı sürece görev yapan ana yazılımdır. İşletim sistemi;

                        à Ana ve yan belleklerin en verimli biçimde kullanılmasını,

                        à Donanım birimleriyle iletişimi,

                        à Çeşitli uygulama ve hizmet programlarının çalıştırılmasını sağlar.

                        à Günümüz kişisel bilgisayarında çoğunlukla Windows, MacOS veya Linux işletim sistemleri kullanılır.

                        Örnek: Windows 10, 95, 98, XP, Vista, Pardus, Linux, Unix, Macos vs.



                        UYGULAMA YAZILIMLARI

                        Uygulama yazılımları belirli konulardaki problemlerin çözümüne yönelik olarak programlama dillerinden biri ile yazılmış programlardır. Hangi işletim sistemine uygun olarak yazılmışsa o işletim sistemi altında çalışırlar. Değişik amaçlara yönelik yüzlerce uygulama programı(paket program) vardır.Örneğin;Office programları(Word,Excel,Powerpoint vs.), photoshop, winrar, flash, oyunlar, antivirüs programları vs.

                        PROGRAMLAMA DİLLERİ :

                        İster genel amaçlı isterse özel amaçlı olsun tüm uygulama ve sistem yazılımları programlama dilleriyle yazılır. Bir programlama dili, insanların bilgisayara çeşitli işlemler yaptırmasına olanak sağlayan her türlü simge, karakter ve kurallar grubudur. Programlama dilleri insanlarla bilgisayar arasında çevirmenlik görevi yapar. Programlama dilleri, bilgisayara neyi, ne zaman, nasıl yapacağını belirten deyim ve komutlar içerir.
                        Programlama dilleri zaman içerisinde gelişerek günümüzde çok yetenekli bir duruma gelmiştir. Programlama dillerinin çeşitleri aşağıdaki gibidir:



                        ► Makine dili: Yazılan tüm komutlar 0 ve 1’lerden oluşur. Bütün talimatlar ayrıntılı bir biçimde tanımlanır ve iki tabanlı sayı sistemi kullanılarak kodlama yapılır.



                        ► Assembly dili: Assembly dili komutları daha kolay bir biçimde anlaşılabilecek ve anımsanabilecek olan simgelerle ifade edilir. Bu dillerle yazılan programlar genellikle çok hızlı çalışır ve daha az depolama yüzeyi gerektirir. Bununla birlikte bu dillerle programlama yapmak çok yorucu, sıkıcı ve zaman alıcıdır.



                        ► Yüksek seviyeli diller: Öğrenilmesi daha kolay, program yazılması daha az zaman alan, daha iyi sonuçlar sağlayan programlama dilleridir. Yüksek düzeyli dillerden birinde yazılan bir program makine diline çevrilmek zorundadır. Dönüştürme işini gerçekleştiren programa derleyici (compiler) denir. Basic, Cobol, Fortran ve Pascal dilleri bu dillere birer örnektir.

                        ► Çok yüksek seviyeli diller: Bu dillerdeki temel özellik, kullanıcıların bilgisayara bir şeyin nasıl yapılacağını değil, ne yapılacağını ifade edebilmelerine imkân vermesidir. Visual Basic, Java, Delphi, C++ dilleri bu programlama dillerine birkaç örnektir.

                        KULLANIM HAKLARINA GÖRE YAZILIM ÇEŞİTLERİ

                        Lisanslı Yazılım: Kullanabilmek için lisans hakkının satın alınması gereken programlardır.Örnek:Office Programları,Windows Xp vs.

                        Demo Yazılım: Tanıtım amaçlı bir süreliğine(30 gün,15 gün vs) ücretsiz kullanılabilen, süre bitiminde lisans hakları satın alınmak koşuluyla kullanılabilen yazılım türüdür.Çeşitli antivirüs programları

                        Freeware(Bedava) Yazılımlar: Kullanıcıdan ücret talep etmeksizin cd,disket,internet vasıtasıyla dağıtılarak kullanılan programlardır. Örnek:XnView, VLC Media Player, Winrar...

                        Beta: ya da Beta Sürüm yazılımın ilk sürümündeki sistem testlerinden ve eksiklik testlerinden geçirilmeyi belirtir.
                    </p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
            @*yazı1.1*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
            @*yazı1.2*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
            </div>
        <div class="col-lg-4 col-md-6 mb-4">
            @*yazı2.1*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
            @*yazı2.2*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
            @*YAZI2.3*@
            <div class="card" style="width: 18rem;height:300px;">

                <div class="card-body">
                    <img src="/img/binbaşı.jpg" style="width:50px;height:50px;" />
                    <h5 class="card-title">ERSİN YILMAZ</h5>

                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">yazının devamı</a>

                </div>
            </div>
        </div>
        
    </div>
</div>
