﻿
@{
    ViewBag.Title = "Yonetım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yonetım</h2>

<div class="container">
    <h2>Form control: input</h2>
    <p>The form below contains two input elements; one of type text and one of type password:</p>
    <form>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control  col-sm-4" id="usr" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control col-sm-4" id="pwd" required>
        </div>
        <button class="btn btn-secondary  alert-dark container-fluid col-sm-2">
            giriş yap
        </button>
    </form>
</div>
